{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-fluid container-grey padding-50">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h3 class="text-center blue">Pour me contacter</h3>

                    <p class="text-center big">
                        David Corvée
                        <br>
                        13 Rue Guynemer
                        <br>
                        24000 PERIGUEUX
                        <br>
                        Tél : (+33) 06 18 24 27 30
                        <br>
                        Mail : <a href="mailto:davidcorvee@gmail.com">davidcorvee@gmail.com</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
                        <iframe class="embed-responsive-item" frameborder="0" style="border:0;" allowfullscreen
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5623.992262282754!2d0.7159395161989744!3d45.18717455990521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ff7100f9ba4bc1%3A0x26c8eafd78b97f2b!2s13+Rue+Guynemer%2C+24000+P%C3%A9rigueux%2C+France!5e0!3m2!1sfr!2sus!4v1444783133396">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}