{% extends "layout.html.twig" %} {% block content %}
    <div class="container-fluid bg-cover" style="height: 60% !important; background-image: url({{ asset('images/bandeau5.jpg') }})"></div>
    <div class="container-fluid container-grey padding-50">
        <div class="container">
            <div class="row lead">
                <h4 class="text-center blue big">Déroulement d'une médiation</h4>
                <br>
                <br>
                <img src="{{ asset('images/deroulement-mediation.png') }}" alt="déroulement d'une médiation"
                     class="img-responsive" style="margin: 0 auto;">
            </div>
        </div>
    </div>
{% endblock %}
