{% extends "layout.html.twig" %} {% block content %}
    <div class="container-fluid bg-cover"
         style="background-position: top -10px right 50% !important; height: 60% !important; background-image: url({{ asset('images/bandeau5.jpg') }})"></div>
    <div class="container-fluid container-grey padding-50">
        <div class="container">
            <div class="row lead"><h4 class="text-center blue big">Saisissez cette opportunité qu'est la médation !</h4>
                <br><br><strong>La direction d’une entreprise, quelle qu’elle soit, implique la gestion de conflits. Ces
                    conflits peuvent être :</strong><br><br>
                <ul class="entreprise">
                    <li>internes à l’entreprise (conflits entre associés, mésentente entre la Direction et des
                        collaborateurs / salariés, mésentente au sein d’un service ou avec les partenaires sociaux…)
                    </li>
                    <li>externes à l’entreprise (par exemple, conflits avec un client ou un partenaire commercial)</li>
                </ul>
                <br>
                <br>
                <br>
                <strong>Pourquoi donner sa chance à la médiation plutôt que de saisir le juge ?</strong>
                <br>
                <br>
                <ul class="entreprise">
                    <li>Parce que la médiation est beaucoup moins longue qu’une procédure judiciaire. C’est autant de
                        <strong class="blue">temps gagné</strong> que vous consacrez au développement de l’activité de
                        votre entreprise. C’est aussi de l’énergie que vous pouvez investir dans autre chose que la
                        gestion de vos conflits.
                    </li>
                    <li>Parce que la médiation, en raison de son caractère confidentiel, vous permet de <strong
                                class="blue">préserver l’image de votre entreprise</strong>. Au contraire, les débats
                        judiciaires et les jugements sont, sauf exceptions, publics.
                    </li>
                    <li>Parce que la médiation peut permettre à votre entreprise de <strong class="blue">conserver des
                            relations commerciales avec un partenaire stratégique</strong>. Si une procédure judiciaire
                        est mise en œuvre, il est difficile de maintenir ce lien.
                    </li>
                    <li>Parce que la médiation peut permettre à votre entreprise d’<strong class="blue">aménager la
                            rupture de vos relations commerciales</strong> avec l’un de vos partenaires dans un délai
                        relativement court. Le résultat d’une procédure judiciaire est par nature aléatoire. Il y a
                        toujours un risque, qui se matérialise d’ailleurs dans les comptes de l’entreprise par la
                        comptabilisation d’une provision. La médiation peut permettre, si les relations commerciales ne
                        peuvent être maintenues, d’aménager la fin de ces relations afin que les deux partenaires ne
                        sortent pas, l’un et l’autre, affaiblis par ce conflit.
                    </li>
                    <li>Parce que vous contribuez, en interne, à une <strong class="blue">amélioration pérenne des
                            relations avec vos salariés</strong>.
                    </li>
                    <li>Parce que la médiation peut vous permettre d’<strong class="blue">intervenir en amont du
                            conflit</strong>, alors que celui-ci n’est pas encore né. Au contraire, la procédure
                        judiciaire suppose qu’un litige soit né et actuel. La médiation permet d’intervenir A TITRE
                        PREVENTIF lorsque vous sentez qu’un conflit est susceptible de naître à plus ou moins brève
                        échéance.
                    </li>
                    <li>Parce que la médiation vous permet de <strong class="blue">rester maître de la solution de votre
                            conflit</strong>. Vous ne déléguez plus à un juge le soin de décider à votre place. Vous
                        décidez avec l’autre partie, et avec l’aide du médiateur, de l’issue de votre conflit et de ses
                        modalités.
                    </li>
                </ul>
                <br>
                <br>
            </div>
        </div>
    </div>{% endblock %}