{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-fluid bg-cover"
         style="background-position: top -10px right 50% !important; height: 60% !important; background-image: url({{ asset('images/bandeau6.jpg') }})"></div>

    <div class="container-fluid container-grey padding-50">
        <div class="container">
            <div class="row lead">
                <h4 class="text-center blue big">La médiation s’adapte à vos besoins et à vos moyens.</h4>

                <br>
                <br>
                Les honoraires font systématiquement l’objet d’une convention de médiation et sont partagés entre les
                parties à parts égales (sauf accord contraire).
                <br>
                <br>
                Un forfait d’honoraires pour 2 réunions de médiation est fixé en fonction de la situation respective des
                parties et, éventuellement, de l’enjeu du litige lorsque celui-ci est déterminable.
                <br>
                <br>
                Au-delà de 2 réunions de médiation, les honoraires de médiation sont fixés en fonction d’un taux
                horaire.
                <br>
                <br>
                La médiation peut être précédée d’une réunion d’information sur l’objet et le déroulement d’une mesure
                de médiation.


                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
