{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br>
                <h3 class="text-center">Votre médiateur</h3>
                <br>
                <p class="lead text-justify">
                    <img class="img-thumbnail" style="width: 30%; float: right; margin-left: 20px;" src="{{ asset('images/david-corvee.jpg') }}" alt="David Corvée, votre médiateur">
                    Je suis médiateur <strong>inscrit officiellement auprès de la Cour d’appel de BORDEAUX.</strong>
                    <br>
                    <br>
                    Je suis diplômé de l’Institut de Formation à la Médiation et à la Négociation (IFOMENE) à PARIS et
                    adhérent de l’Association Nationale des Médiateurs (ANM).
                    <br>
                    <br>
                    En tant que médiateur, <strong><u>je suis indépendant, impartial et neutre par rapport à votre
                            conflit.</u></strong>
                    <strong>En parallèle, j’exerce la profession d’avocat</strong> depuis le début de l’année 2013. Je
                    suis inscrit au Barreau de PERIGUEUX. Je suis en outre formé au processus collaboratif par
                    l’Association Française
                    des Praticiens du Droit Collaboratif (AFPDC)
                    <br>
                    <br>
                    Très vite, je me suis aperçu dans le cadre de mon activité d’avocat des limites de la procédure
                    judiciaire. Trop souvent, en effet, la décision de justice génère un sentiment de frustration chez
                    les justiciables, y compris d’ailleurs chez celui qui a obtenu gain de cause. Il subsiste,
                    notamment, le sentiment de ne pas avoir été entendu, compris, que ce soit par le Juge ou par l’autre
                    partie.
                    <br>
                    <br>
                    La formation exigeante de médiateur que j’ai suivie à PARIS m’a fait découvrir un autre chemin
                    permettant de prévenir et résoudre amiablement les conflits : celui de la relation.
                    <br>
                    <br>
                    La médiation est un art subtil de la relation qui permet aux parties, grâce à l’entremise d’un
                    tiers, de se trouver de nouveau en capacité de communiquer et de collaborer afin de trouver ensemble
                    une issue pérenne à leur conflit.
                    <br>
                    <br>
                    Depuis lors, la médiation est devenue pour moi une passion qui m’anime non seulement lorsque je suis
                    médiateur mais également dans le cadre de mon exercice professionnel d’avocat.
                    <br>
                    <br>
                    Ma double compétence d’avocat et de médiateur est précieuse et me permet de bien comprendre tous les
                    tenants et aboutissants de votre conflit.
                    <br>
                    <br>
                    Afin d’affiner toujours plus mon expertise, je continue à me former en matière de médiation et je
                    participe régulièrement à des analyses de pratique avec d’autres médiateurs.

                </p>
            </div>
        </div>

    </div>
{% endblock %}