{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-fluid bg-cover" style="background-image: url({{ asset('images/bandeau3.jpg') }})"></div>

    <div class="container-fluid container-grey padding-50">
        <div class="container">
            <div class="row">
                <h3 class="text-center blue">POURQUOI une médiation plutôt qu'une procédure judiciaire ?</h3>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover" style="font-size:120%;">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Médiation</th>
                            <th>Procédure judiciaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Durée</strong></td>
                            <td>En général quelques mois (selon le nombre de réunions)</td>
                            <td>Plusieurs mois à plusieurs années selon le déroulement de la procédure…</td>
                        </tr>
                        <tr>
                            <td><strong>Coût</strong></td>
                            <td>Frais du médiateur</td>
                            <td>Frais d'avocat, frais de justice, frais d'huissiers, frais d'expertise judiciaire…</td>
                        </tr>
                        <tr>
                            <td><strong>Nature des échanges</strong></td>
                            <td>Confidentiels</td>
                            <td>Officiels</td>
                        </tr>
                        <tr>
                            <td><strong>Lien entre les parties</strong></td>
                            <td>Permet de restaurer ou d'améliorer le lien</td>
                            <td>Détériore le lien</td>
                        </tr>
                        <tr>
                            <td><strong>Résultat</strong></td>
                            <td>Solution négociée entre les parties</td>
                            <td>Aléatoire</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
